:root {
    --background-color: #fff;
    --secondary-background-color: #F5F5F0;
    --menu-line-color: #F2E2CE;
    --menu-text-color: #383B3E;
    --footer-background-color: #383B3E;
    --cta-color: #FBA464;
    --cta-hover: #FFCAA4;
    --headline-color: #48594E;
    --green-background: #E2EBE1;
    --blue-background: #E0F7FA;
    --text-color: black;
    --font-family: Arial, Helvetica, sans-serif;
    --headline-font-family: 'itc-avant-garde-gothic-pro', sans-serif;
    --headline-font-weight: bold;
    --font-size: 20px;
    --H1-font-size: 30px;
    --menu-line-size: 41px;
    --shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    --dark-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.4), 0 8px 22px 0 rgba(0, 0, 0, 0.5);
    --table-border-color: #ddd;
    --table-hover-background-color: #ddd;
    --table-even-row-background-color: #f2f2f2;
    --nav-background-color: #000;
}

/* #region Default styling */
* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    font-family: var(--font-family);
}

img {
    max-width: 100%;
    height: auto;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    min-height: 100vh;
}

.content-page {
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
    padding: var(--menu-line-size) 0;
}

figure {
    margin: 0;
}

.welcome {
    width: 100%;
}

.welcome img {
    max-width: 100%;
    max-height: 100%;
}

.menu-line {
    background-color: var(--menu-line-color);
    min-height: var(--menu-line-size);
}

h1 {
    font-size: var(--H1-font-size);
}

h1,
h2 {
    font-family: var(--headline-font-family);
    font-weight: var(--headline-font-weight);
    color: var(--headline-color);
}

h3 {
    font-family: var(--headline-font-family);
    font-weight: var(--headline-font-weight);
    color: var(--text-color);
    line-height: 1.5;
}

h4,
h5,
h6 {
    font-family: var(--font-family);
    font-weight: var(--headline-font-weight);
    color: var(--text-color);
}

p,
li {
    font-family: var(--font-family);
    font-size: var(--font-size);
    color: var(--text-color);
}

.bottom-logo,
.top-logo {
    max-width: 12rem;
    height: auto;
    padding: 13px;
}

.top-logo {
    content: url(/pictures/stokk-logo.svg);
    display: block;
}

.header {
    background-color: var(--background-color);
}

.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    gap: 2em;
}

li {
    display: inline;
}

li a,
.dropbtn {
    font-family: var(--headline-font-family);
    font-weight: var(--headline-font-weight);
    font-size: var(--font-size);
    color: var(--menu-text-color);
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
}

.active-menu-item {
    text-decoration: underline;
}

li a:hover,
.dropdown:hover .dropbtn {
    text-decoration: underline;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    min-width: 160px;
    position: absolute;
    z-index: 1;
}

.dropdown-content a:hover {
    background-color: var(--cta-color);
}

.active-sub-menu-item {
    background-color: var(--cta-color);
    max-height: 40px;
}

.show {
    display: block;
}

.topnav .icon {
    display: none;
}

/*cta*/
.wp-block-button,
.cta {
    background-color: var(--cta-color);
    font-family: var(--headline-font-family);
    font-weight: var(--headline-font-weight);
    color: var(--text-color);
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    padding: 10px 30px;
    border-radius: 5px;
    box-shadow: var(--shadow);
    border: none;
    font-size: 1rem;
    margin-bottom: 8px;

}

.wp-block-button a,
.cta a {
    text-decoration: none;
    color: var(--text-color);
}

.wp-block-button:hover,
.cta:hover {
    background-color: var(--cta-hover);
    text-decoration: underline;
}

.centered-button {
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

a {
    font-weight: var(--headline-font-weight);
    color: var(--text-color);
}

a:hover {
    text-decoration: underline;
}

/*uteklatring*/

.blush-highlight,
.blue-highlight,
.beige-highlight,
.light-green-highlight {
    padding: 8px;
}


.light-green-highlight {
    background-color: var(--green-background);
}

.beige-highlight {
    background-color: var(--secondary-background-color);
}

.blue-highlight {
    background-color: var(--blue-background);
}

.blush-highlight {
    background-color: var(--menu-line-color);
}

.light-green-highlight li,
.beige-highlight li {
    list-style-type: circle;
    display: list-item;
}

.small-grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
    padding: 10px;
}

/* opening hours */
.opening-hours p {
    margin-top: 0px;
    margin-bottom: 0px;
}

.opening-hours h2 {
    font-size: 1.5rem;
    margin-top: 30px;
    margin-bottom: 10px;
}

/* Footer */
.footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* Distribute space between the items */
    align-items: center;
    /* Align items vertically centered */

    background: var(--footer-background-color);
    width: 100%;
    clear: both;
    position: relative;
    bottom: 0;
    margin-top: auto;
}

.footer p {
    color: var(--background-color);
    margin-top: 10px;
    margin-bottom: 10px;
}

.footer h1,
.footer h2 {
    color: var(--blue-background);
    font-size: 1.38rem;
    margin-bottom: 10px;
    margin-top: 0px;
}

.footer-item {
    flex: 1 1 25%;
    /* Each item takes up 25% of the container width */
    text-align: center;
    /* Center the text */
    padding: 10px;
    /* Optional padding */
    box-sizing: border-box;
    /* Include padding and border in the element's total width and height */
}

#item-facebook,
#item-instagram {
    height: 60px;
}

#item-logo,
#item-opening-hours {
    height: 80%
}

.some {
    height: 30%;
}

.some img {
    height: 100%;
}

.footer-left {
    flex: 1;
    text-align: left;
    margin-top: 6px;
    margin-bottom: 2px;
}

.footer-center {
    flex: 1;
    text-align: center;
    margin-top: 6px;
    margin-bottom: 2px;
    height: 20%;
}

.footer-center img {
    height: 100%;
}

.footer-right {
    text-align: left;
    padding-right: 15vw;
}


/* #region table formatting */

table {
    font-family: var(--font-family);
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

th,
td {
    border: 1px solid var(--table-border-color);
    padding: 8px;
}

tr:nth-child(even) {
    background-color: var(--table-even-row-background-color);
}

tr:hover {
    background-color: var(--table-hover-background-color);
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: var(--headline-color);
    color: var(--background-color);
}
/* #endregion */


@media screen and (max-width: 1500px) {
    .content-page {
        max-width: 70vw;
    }
}

@media screen and (max-width: 992px) {
    .welcome {
        padding-top: 94px;
    }

    .top-logo {
        content: url(/pictures/stokk-logo-horizontal.png);
    }

    .navbar {
        margin-top: 0;
        display: flex;
        justify-content: space-between;
        position: absolute;
        width: 100%;
    }

    #nav-background {
        position: fixed;
        height: 100%;
        width: 100%;
        background-color: var(--nav-background-color);
        display: none;
        z-index: 10;
    }

    #nav-background.expanded {
        display: block;
        opacity: 0.75;
    }

    .expanded {
        width: auto;
    }

    .menu-line {
        background-color: none;
        min-height: 0;
    }

    .blank-line {
        min-height: 0;
    }

    .topnav a {
        display: none;
    }

    .topnav li {
        width: auto;
    }

    .topnav {
        display: block;
        position: relative;
        background-color: var(--background-color);
        position: absolute;
        right: 0px;
    }

    .topnav li.icon {
        float: right;
        display: block;
        position: absolute;
        right: 0;
        top: 11px;
        padding: 10px 16px;
        font-family: var(--headline-font-family);
        font-weight: var(--headline-font-weight);
        font-size: var(--font-size);
        color: var(--menu-text-color);
        text-transform: uppercase;
        text-align: center;
        text-decoration: none;
    }


    .topnav.expanded {
        padding-top: 13px;
        padding-right: 50px;
        padding-left: 30px;
        padding-bottom: 13px;
        z-index: 20;
    }

    .topnav.expanded .icon {
        position: absolute;
        right: 0;
        top: 11px;
    }

    .topnav.expanded a {
        float: none;
        display: block;
        text-align: left;
    }

    .dropdown-content {
        padding-left: 15px;
        display: none;
        min-width: 160px;
        position: relative;
        z-index: 1;
    }

    .dropdown-content {
        display: block;
    }

    .expanded {
        display: block;
    }

    li.dropdown {
        display: block;
    }

    .content-page {
        padding: 15px;
    }

    .size-large img {
        width: auto;
    }

    .small-grid {
        grid-template-columns: auto;
    }

    .content-page {
        padding-top: 90px;
    }

    .content-startpage {
        padding-top: 20px;
    }
}

@media screen and (max-width: 680px) {

    .footer {
        flex-direction: row;
    }

    .footer-item {
        flex: 1 1 50%;
        /* Each item takes up 50% of the container width on mobile */
    }

    #item-logo {
        order: 3;
        /* Move to the second row */
    }

    #item-facebook {
        order: 1;
        /* Move to the first row */
    }

    #item-instagram {
        order: 2;
        /* Move to the first row */
    }

    #item-opening-hours {
        order: 4;
        /* Move to the second row */
    }
}

@media screen and (max-width: 500px) {

    .content-page {
        max-width: 100%;
    }

    .footer-right {
        text-align: left;
        padding-right: 5vw;
    }
}
